@using TodoApplication.Models
@using Microsoft.AspNetCore.Components

<h3 class="mt-5">Active Todos:</h3>

@if (!todos.Any(t => !t.IsCompleted))
{
    <p>No active tasks at the moment. Add a new task!</p>
}
else
{
    <ul class="list-group">
    @foreach (var todo in todos.Where(t => !t.IsCompleted))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span style="text-decoration: none;">
                    @todo.Title
                </span>

                <div>
                    <button class="btn btn-success btn-sm" @onclick="() => ToggleCompleted.InvokeAsync(todo)">Completed</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => Delete.InvokeAsync(todo)">Delete</button>
                </div>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public List<TodoItem> todos { get; set; } = new();

    [Parameter]
    public EventCallback<TodoItem> ToggleCompleted { get; set; }

    [Parameter]
    public EventCallback<TodoItem> Delete { get; set; }
}